.youtubewrap{
    position: relative; 
    width:1700px;
    height:150px;
}
.youtubefooter{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}
  
  #togglemute {
    position: absolute;
    top: 0;
    right: 640px; /* or left: 0; to position on the left side */
    /* Adjust top, right, left, or other styles as needed */
  }

  @media screen and (max-width: 768px) 
    {
      .youtubewrap{
        width: 50%; 
    }
      
      .buttons {
        right: 50%; 
      }
    }