table {
    color: #333;
    background-color: #f5f5f5;

  }
  iframe{
    width:500;
    height:200;
  }
  td, tr {
    color: #333;
    border: 1px solid red; /* This adds a border to the table cells */
    /*padding: 8px; /* This adds some space around the content in the table cells */  
  }

  .content-table {
    table-layout: fixed;
    width: 100%; /* Set the table width to fill the available space */
  }
  
  .content-table td {
    vertical-align: top; /* Align content to the top of cells */
    border: 1px solid white; /* This adds a border to the table cells */
    width: auto;
  }
  
center-content{
    width: 100% /* Center content occupies remaining space */
  }

.iframe-left {
    
    position: relative;
    width: 400px;
    height: 300px;
    float: right; /* Align the iframe to the right */
    display: block;
    margin-left:inherit;
}
.iframe-right {
    position: relative;
    width: 400px;
    height: 300px;
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Adjust z-index to position it in front of the iframe */
    z-index: 1;
    /*background-color:blue;*/
}
  
/*queryfiltering starts */
.impotedhtml {
    /*
    max-height: 700px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
    */
    max-height: 700px; /* Set a fixed height for the table container */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional border for visualization */
    width: 100%; /* Set your preferred width */
    margin: 0 auto; /* Center the container horizontally */
}

/* bing */
.querytitle {
  top: 0; /* Adjust as needed */
  padding: 1em; /* Add some space around your content */
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  width: 90%; /* Or any specific width */
  height: auto; /* Or any specific height */
  /* Add a fallback for older browsers that don't support 'rgba' */
  background-color: rgb(255, 255, 255);
  /* Add transparency to the background color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Your content styles */
  font-family: Georgia, serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(255, 255, 255);;
  text-align: center;
  margin-bottom: 10px;
  background-image: url('https://th.bing.com/th/id/OIG.bKqqn9I0Cpci9WJTxFLJ?pid=ImgGn');
  background-size: cover;
  max-height: 250px; /* Set a fixed height for the table container */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ccc; /* Optional border for visualization */
}


/*victims count element starts*/
/* Wrapper styling */
#count-wrapper {
  text-align: center; /* Center-aligns the text content */
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto; /* Centers the element horizontally */
  width: max-content; /* Allows the element to take up only the necessary space */
}

/* Count design */
#count {
  font-size: 36px;
  font-weight: bold;
  color: black;
}

@keyframes droplet {
  0% { opacity: 1; }
  100% { opacity: 0; transform: translateY(20px); }
}

.drop {
  position: relative;
  width: 50px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop p {
  color: red;
  font-weight: bold;
  font-size: 90px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow properties */
}

.drop::after,
.drop::before {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 30px;
  height: 40px;
  background-color: #ff0000;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  animation: droplet 1s infinite;
}

.drop::before {
  left: -20px;
  animation-delay: 0.5s;
}

.drop::after {
  right: -20px;
  animation-delay: 1s;
}
/*victims count element ends*/

/*combo and free text box styling starts*/
.selectoptions {
  text-align: center; /* Center aligns elements within the container */
}

.right-align {
  display: block; /* Ensures elements occupy the full container width */
  margin: 0 auto; /* Centers elements horizontally within the container */

}
/*---------------------------*/

/*victims query starts*/
.querycontainer 
 {
  position: relative;
  height: 400px; /* Set a specific height for the container */
  /* Other styles for the container */
}

.querywrapper {
  position: absolute;
  top: 0;
  left: 0; /* Ensure the element starts from the left */
  width: 100%; /* Make it span the full width */
  background-color: #f0f0f0; /* Add a background color for visibility */
  z-index: 0; /* Set a higher z-index if necessary */
  /* Other styles for the top div */
}
/*-------------for mobile---------------*/
@media screen and (max-width: 768px) {
  /* Styles for mobile screens */
  iframe {
    width: 100%;
    height: auto;
  }

  .content-table, .impotedhtml, .querytitle {
    width: 100%;
  }

  .iframe-left, .iframe-right {
    width: 100%;
    height: auto;
    float: none;
  }

  #count-wrapper {
    width: 100%;
  }
  iframe {
    width: 100%;
    height: auto;
  }

  .content-table, .impotedhtml, .querytitle {
    width: 100%;
  }

  .iframe-left, .iframe-right {
    width: 100%;
    height: auto;
    float: none;
  }chmod +x git_push.sh

  #count-wrapper {
    width: 100%;
  }
    /* Styles for mobile screens */
    .center-content {
      flex-direction: column; /* Stack the images vertically */
    }
  
    .center-content > div {
      max-width: 100%; /* Allow the images to take the full width */
    }
}
